@font-face {
    font-family: "Questrial";
    src:
        local("Questrial"),
        url("../fonts/Questrial-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src:
        local("Montserrat"),
        url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PassionOne";
    src:
        local("PassionOne"),
        url("../fonts/PassionOne-Regular.ttf") format("truetype");
}

body {
    display: block;
    line-height: 1.42857;
    font-size: 14px;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}


input.form-control.datepicker {
    padding: 6px 12px;
}

.daterangepicker.dropdown-menu {
    z-index: 3000;
}

div.row a {
    max-width: 100%;
}

blockquote {
    font-size: inherit;
    border-left: none;
    padding-bottom: 0px;
    padding-top: 0px;
}


.form-control {
    color: inherit;
    height: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.has-error .form-control {
    border: 1px solid #a94442 !important;
}

.has-success .form-control {
    border: 1px solid #3c763d !important;
}

.btn {
    white-space: normal;
}

/* retire margin sur la premiÃ¨re row des tab (retire le dÃ©calage du premiÃ¨re onglet) */
.tab-pane {
    padding: 0 15px;
}

/* Puces icones */
.fa-li {
    top: 0;
    line-height: inherit;
}

/* outline sur image maps */
map>area {
    outline: none;
}

/* images vides */
img[src=""],
img[src="/images/"],
img[src="images/"] {
    display: none !important;
}

.gl_bes:before,
.gl_afs:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* sliders */
.fa.gl_slider_btn_pauseplay {
    position: absolute;
    top: 6px;
    left: -40px;
    font-size: 25px;
    cursor: pointer;
    color: rgba(79, 79, 79, 1);
}

.fa.gl_slider_btn_pauseplay:hover {
    transform: scale(1.3);
    transition: transform ease 0.5s;
}

@media (max-width:768px) {
    .fa.gl_slider_btn_pauseplay {
        left: -25px;
    }

    .gl_xsnav_mini .fa.gl_slider_btn_pauseplay {
        display: none;
    }
}


.diag {
    -webkit-transform: skewX(-5deg);
    -moz-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    -o-transform: skewX(-5deg);
    transform: skewX(-5deg);
}


.diag .gl_autodiv {
    -webkit-transform: skewX(5deg);
    -moz-transform: skewX(5deg);
    -ms-transform: skewX(5deg);
    -o-transform: skewX(5deg);
    transform: skewX(5deg);
}

.diag form {
    -webkit-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -o-transform: skewX(0deg);
    transform: skewX(0deg);
}

a#gl_36 {
    width: 369px;
}

div#gl_6 {
    background-image: url("../images/trois-logos.png");
    background-size: cover;
    background-repeat: no-repeat;
}

a#gl_5 {
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 450px;
    border-color: rgba(212, 202, 197, 1);
    width: 125px;
    border-width: 0.55px;
}

a#gl_5:hover {
    background-color: rgba(1, 17, 102, 1);
    border-width: 1px;
}

a#gl_5:before {
    border-width: 0.55px;
}

div#gl_17 {
    color: white;
    width: 100%;
}

p#gl_39 {
    margin-bottom: 0px;
    font-family: "Arial";
    text-align: center;
    color: rgba(187, 174, 168, 1);
    font-size: 12px;
}

a#gl_5:hover p#gl_39 {
    color: rgba(255, 255, 255, 1);
}

a#gl_11 {
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 450px;
    border-color: rgba(212, 202, 197, 1);
    width: 125px;
    border-width: 0.55px;
}

a#gl_11:hover {
    background-color: rgba(1, 17, 102, 1);
    border-width: 1px;
}

a#gl_11:before {
    border-width: 0.55px;
}

div#gl_18 {
    color: white;
    width: 100%;
}

p#gl_42 {
    margin-bottom: 0px;
    font-family: "Arial";
    text-align: center;
    color: rgba(187, 174, 168, 1);
    font-size: 12px;
}

a#gl_11:hover p#gl_42 {
    color: rgba(255, 255, 255, 1);
}

a#gl_12 {
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 450px;
    border-color: rgba(212, 202, 197, 1);
    width: 125px;
    border-width: 0.55px;
}

a#gl_12:hover {
    background-color: rgba(1, 17, 102, 1);
    border-width: 1px;
}

a#gl_12:before {
    border-width: 0.55px;
}

div#gl_19 {
    color: white;
    width: 100%;
}

p#gl_45 {
    margin-bottom: 0px;
    font-family: "Arial";
    text-align: center;
    color: rgba(187, 174, 168, 1);
    font-size: 12px;
}

a#gl_12:hover p#gl_45 {
    color: rgba(255, 255, 255, 1);
}

section#gl_1 {
    background-position-x: 50%;
    background-position-y: 50%;
    background-image: url("../images/banniere-fun-ressources-reduite.png");
    background-size: cover;
    background-repeat: no-repeat;
}

div#gl_7 {
    width: 100%;
}

h1#gl_48 {
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 1);
    font-family: "Questrial";
    font-size: 82px;
}

div#gl_8 {
    width: 100%;
}

h2#gl_50 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(255, 250, 250, 1);
    font-size: 22px;
    font-style: italic;
    font-family: "Questrial";
}

.part-title {
    text-transform: uppercase;
    font-family: "PassionOne";
    font-size: 24px;
    margin-top: 20px;
}

a#gl_54 {
    width: 359px;
}

div#gl_20 {
    background-color: rgba(157, 200, 105, 1);
    background-size: cover;
    background-position: center;
}

div#gl_21 {
    background-color: rgba(1, 17, 102, 1);
}

div#gl_22 {
    width: 100%;
}

h1#gl_59 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
    font-family: "Montserrat";
    letter-spacing: 2px;
    line-height: 50px;
}

div#gl_23 {
    width: 100%;
}

h2#gl_61 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(255, 250, 250, 1);
    font-style: italic;
    font-family: "Questrial";
    text-align: center;
    font-size: 28px;
}

a#gl_63 {
    width: 357px;
}

div#gl_24 {
    background-color: rgba(149, 27, 129, 1);
    background-size: cover;
    background-position: center;
}

div#gl_25 {
    background-color: rgba(1, 17, 102, 1);
}

div#gl_26 {
    width: 100%;
}

h1#gl_68 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
    font-family: "Montserrat";
    letter-spacing: 2px;
    line-height: 50px;
}

div#gl_27 {
    width: 100%;
}

h2#gl_70 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(255, 250, 250, 1);
    font-style: italic;
    font-family: "Questrial";
    text-align: center;
    font-size: 27px;
    line-height: 25px;
}

a#gl_72 {
    width: 363px;
}

div#gl_28 {
    background-color: rgba(243, 146, 0, 1);
    background-size: cover;
    background-position: center;
}

div#gl_29 {
    background-color: rgba(1, 17, 102, 1);
}

div#gl_30 {
    width: 100%;
}

h1#gl_77 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
    font-family: "Montserrat";
    letter-spacing: 2px;
    line-height: 50px;
}

div#gl_31 {
    width: 100%;
}

h2#gl_79 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(255, 250, 250, 1);
    font-style: italic;
    font-family: "Questrial";
    text-align: center;
    font-size: 28px;
}

div#gl_32 {
    width: 100%;
}

h4#gl_82 {
    margin-bottom: 0px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    font-family: "Questrial";
    line-height: 39px;
    font-size: 32px;
}

div#gl_33 {
    width: 100%;
}

h2#gl_84 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Questrial";
    font-size: 19px;
    line-height: 22px;
}

h2#gl_85 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Questrial";
    font-size: 19px;
    line-height: 22px;
}

h2#gl_86 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: "Questrial";
    color: rgba(4, 22, 112, 1);
    font-size: 22px;
    line-height: 22px;
}

li#gl_87 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Questrial";
    font-size: 19px;
}

h2#gl_88 {
    font-size: 19px;
    line-height: 22px;
}

li#gl_89 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Questrial";
    font-size: 19px;
}

li#gl_90 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Questrial";
    font-size: 19px;
}

section#gl_2 {
    background-color: rgba(0, 17, 99, 1);
}

div#gl_14 {
    width: 100%;
}

p#gl_92 {
    font-family: "Helvetica";
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 0px;
    color: rgba(255, 255, 255, 1);
}

img#gl_4 {
    width: 96px;
}

@media (min-width:1200px) {
    .gl_container {
        width: 1170px;
    }

    div#gl_6 {
        min-height: 71px;
    }

    section#gl_1 {
        min-height: 285px;
    }

    div#gl_20 {
        min-height: 243px;
    }

    div#gl_24 {
        min-height: 243px;
    }

    div#gl_28 {
        min-height: 243px;
    }

    section#gl_2 {
        min-height: 183px;
    }
}

@media (min-width:992px) {
    div#gl_34 {
        width: 100%;
    }

    div#gl_35 {
        width: 31.538%;
        margin-left: 11.624%;
        margin-right: 0.769%;
        margin-top: 0.342%;
        margin-bottom: 0.513%;
    }

    div#gl_37 {
        width: 10.684%;
        margin-left: 0.769%;
        margin-right: 0.427%;
        margin-top: 3.504%;
        margin-bottom: 1.368%;
    }

    div#gl_38 {
        width: 95.2%;
        margin-left: 1.6%;
        margin-right: 3.2%;
        margin-top: 2.4%;
        margin-bottom: 3.2%;
    }

    div#gl_40 {
        width: 10.684%;
        margin-left: 0.427%;
        margin-right: 0.513%;
        margin-top: 3.504%;
        margin-bottom: 1.368%;
    }

    div#gl_41 {
        width: 95.2%;
        margin-left: 1.6%;
        margin-right: 3.2%;
        margin-top: 2.4%;
        margin-bottom: 3.2%;
    }

    div#gl_43 {
        width: 10.684%;
        margin-left: 0.513%;
        margin-right: 21.368%;
        margin-top: 3.504%;
        margin-bottom: 1.368%;
    }

    div#gl_44 {
        width: 95.2%;
        margin-left: 1.6%;
        margin-right: 3.2%;
        margin-top: 2.4%;
        margin-bottom: 3.2%;
    }

    div#gl_46 {
        width: 100%;
    }

    div#gl_47 {
        width: 71.453%;
        margin-left: 11.368%;
        margin-right: 17.179%;
        margin-top: 3.248%;
        margin-bottom: 0.214%;
    }

    div#gl_49 {
        width: 58.376%;
        margin-left: 11.795%;
        margin-right: 29.829%;
        margin-top: 0.214%;
        margin-bottom: 8.889%;
    }

    div#gl_52 {
        width: 100%;
    }

    div#gl_53 {
        width: 30.684%;
        margin-left: 1.88%;
        margin-right: 1.026%;
        margin-top: 4.829%;
        margin-bottom: 2.051%;
    }

    div#gl_55 {
        width: 100%;
        padding-top: 1.393%;
        padding-bottom: 0.836%;
        padding-left: 1.393%;
        padding-right: 1.393%;
        position: relative;
        z-index: 0;
    }

    div#gl_56 {
        position: absolute;
        top: 1.992%;
        left: 1.393%;
        width: 15.042%;
        z-index: -1;
    }

    div#gl_57 {
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
        padding-left: 13.754%;
        padding-right: 0%;
        z-index: 0;
    }

    div#gl_58 {
        width: 95.349%;
        margin-left: 1.993%;
        margin-right: 2.658%;
        margin-top: 12.292%;
        margin-bottom: 4.319%;
    }

    div#gl_60 {
        width: 95.349%;
        margin-left: 1.993%;
        margin-right: 2.658%;
        margin-top: 4.319%;
        margin-bottom: 12.625%;
    }

    div#gl_62 {
        width: 30.513%;
        margin-left: 1.026%;
        margin-right: 0.983%;
        margin-top: 4.701%;
        margin-bottom: 2.009%;
    }

    div#gl_64 {
        width: 100%;
        padding-top: 1.401%;
        padding-bottom: 1.401%;
        padding-left: 1.401%;
        padding-right: 1.401%;
        position: relative;
        z-index: 0;
    }

    div#gl_65 {
        position: absolute;
        top: 1.976%;
        left: 1.401%;
        width: 15.126%;
        z-index: -1;
    }

    div#gl_66 {
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
        padding-left: 13.833%;
        padding-right: 0%;
        z-index: 0;
    }

    div#gl_67 {
        width: 92.642%;
        margin-left: 4.682%;
        margin-right: 2.676%;
        margin-top: 12.375%;
        margin-bottom: 4.348%;
    }

    div#gl_69 {
        width: 90.301%;
        margin-left: 4.682%;
        margin-right: 5.017%;
        margin-top: 4.348%;
        margin-bottom: 10.033%;
    }

    div#gl_71 {
        width: 31.026%;
        margin-left: 0.983%;
        margin-right: 1.88%;
        margin-top: 4.615%;
        margin-bottom: 2.265%;
    }

    div#gl_73 {
        width: 100%;
        padding-top: 1.377%;
        padding-bottom: 0.826%;
        padding-left: 1.377%;
        padding-right: 1.377%;
        position: relative;
        z-index: 0;
    }

    div#gl_74 {
        position: absolute;
        top: 1.992%;
        left: 1.377%;
        width: 14.876%;
        z-index: -1;
    }

    div#gl_75 {
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
        padding-left: 13.598%;
        padding-right: 0%;
        z-index: 0;
    }

    div#gl_76 {
        width: 91.148%;
        margin-left: 4.59%;
        margin-right: 4.262%;
        margin-top: 12.131%;
        margin-bottom: 4.426%;
    }

    div#gl_78 {
        width: 88.852%;
        margin-left: 4.59%;
        margin-right: 6.557%;
        margin-top: 4.426%;
        margin-bottom: 12.131%;
    }

    div#gl_80 {
        width: 81.795%;
        margin-left: 10.598%;
        margin-right: 7.607%;
        margin-top: 2.009%;
        margin-bottom: 2.222%;
    }

    div#gl_81 {
        width: 97.074%;
        margin-left: 2.09%;
        margin-right: 0.836%;
        margin-top: 0%;
        margin-bottom: 0.888%;
    }

    div#gl_83 {
        width: 96.656%;
        margin-left: 2.09%;
        margin-right: 1.254%;
        margin-top: 0.888%;
        margin-bottom: 3.553%;
    }

    div#gl_91 {
        width: 43.675%;
        margin-left: 1.538%;
        margin-right: 22.607%;
        margin-top: 7.863%;
        margin-bottom: 6.154%;
    }

    div#gl_93 {
        width: 8.205%;
        margin-left: 22.607%;
        margin-right: 1.368%;
        margin-top: 5.556%;
        margin-bottom: 5.47%;
    }
}

@media (max-width:1199px) {
    section#gl_15 {
        min-height: 67.154px;
    }

    div#gl_6 {
        background-position-x: unset;
        background-position-y: unset;
        min-height: 69px;
        margin-top: 10px;
    }

    section#gl_1 {
        min-height: 341px;
    }

    h1#gl_48 {
        line-height: 66px;
    }

    div#gl_20 {
        min-height: 210px;
    }

    h1#gl_59 {
        font-size: 35px;
    }

    div#gl_23 {
        margin-top: 0px;
    }

    h2#gl_61 {
        font-size: 23px;
    }

    div#gl_3 {
        min-height: 238px;
    }

    div#gl_24 {
        min-height: 206px;
    }

    h1#gl_68 {
        font-size: 35px;
    }

    div#gl_27 {
        margin-top: 0px;
    }

    h2#gl_70 {
        font-size: 21px;
    }

    div#gl_28 {
        min-height: 210px;
    }

    h1#gl_77 {
        font-size: 35px;
    }

    div#gl_31 {
        margin-top: 0px;
    }

    h2#gl_79 {
        font-size: 23px;
    }

    div#gl_32 {
        margin-top: 0px;
    }

    h4#gl_82 {
        margin-top: 0;
    }

    section#gl_2 {
        min-height: 151.718px;
    }

    img#gl_4 {
        margin-top: 13px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .gl_container {
        width: 970px;
    }
}

@media (max-width:991px) {
    section#gl_15 {
        min-height: 20px;
        margin-bottom: 8px;
        margin-top: 9px;
    }

    a#gl_36 {
        width: 100%;
    }

    div#gl_6 {
        min-height: 165px;
        margin-bottom: 6px;
        background-size: 90%;
        background-position-x: 61.3333%;
        background-position-y: 52.1739%;
    }

    div#gl_37 {
        text-align: center;
    }

    a#gl_5 {
        border-width: 1.9px;
    }

    div#gl_40 {
        text-align: center;
    }

    a#gl_11 {
        border-width: 1.9px;
    }

    div#gl_43 {
        text-align: center;
    }

    a#gl_12 {
        border-width: 1.9px;
    }

    section#gl_1 {
        margin-top: 7px;
        margin-bottom: 11px;
        min-height: 287px;
    }

    h1#gl_48 {
        padding-left: 52px;
    }

    section#gl_16 {
        margin-bottom: 58px;
    }

    a#gl_54 {
        width: 100%;
    }

    div#gl_9 {
        margin-bottom: 0px;
        min-height: 312px;
    }

    div#gl_20 {
        min-height: 38px;
        margin-bottom: 0px;
        width: 637px;
    }

    div#gl_21 {
        margin-bottom: 0px;
        margin-top: 0px;
        min-height: 234px;
        width: 640px;
    }

    div#gl_22 {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 25px;
        margin-bottom: 9px;
    }

    h1#gl_59 {
        font-size: 54px;
    }

    div#gl_23 {
        width: 586px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0px;
        margin-top: 9px;
    }

    h2#gl_61 {
        padding-top: -2px;
        font-size: 42px;
    }

    a#gl_63 {
        width: 100%;
    }

    div#gl_3 {
        margin-bottom: 10px;
        min-height: 312px;
    }

    div#gl_24 {
        min-height: 38px;
        margin-bottom: 0px;
        width: 637px;
    }

    div#gl_25 {
        margin-bottom: 8px;
        margin-top: 0px;
        min-height: 234px;
        width: 640px;
    }

    div#gl_26 {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 25px;
    }

    h1#gl_68 {
        font-size: 54px;
    }

    div#gl_27 {
        width: 586px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0px;
        margin-top: 11px;
    }

    h2#gl_70 {
        padding-top: -2px;
        font-size: 42px;
        line-height: 46px;
    }

    a#gl_72 {
        width: 100%;
    }

    div#gl_10 {
        margin-bottom: 0px;
        min-height: 312px;
    }

    div#gl_28 {
        min-height: 38px;
        margin-bottom: 0px;
        width: 637px;
    }

    div#gl_29 {
        margin-bottom: 0px;
        margin-top: 0px;
        min-height: 234px;
        width: 640px;
    }

    div#gl_30 {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 25px;
        margin-bottom: 9px;
    }

    h1#gl_77 {
        font-size: 54px;
    }

    div#gl_31 {
        width: 586px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0px;
        margin-top: 9px;
    }

    h2#gl_79 {
        padding-top: -2px;
        font-size: 42px;
    }

    div#gl_32 {
        margin-top: 0px;
    }

    h4#gl_82 {
        text-align: left;
    }

    div#gl_33 {
        margin-bottom: 56px;
    }

    section#gl_2 {
        min-height: 20px;
        margin-top: 56px;
    }

    div#gl_14 {
        margin-bottom: 25px;
    }

    img#gl_4 {
        margin-bottom: 24px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .gl_container {
        width: 750px;
    }
}

@media (max-width:767px) {
    section#gl_15 {
        margin-bottom: 1px;
    }

    div#gl_6 {
        background-position-x: unset;
        background-position-y: unset;
        min-height: 69px;
    }

    a#gl_5 {
        border-width: 1.9px;
    }

    a#gl_11 {
        border-width: 1.9px;
    }

    a#gl_12 {
        border-width: 1.9px;
    }

    section#gl_1 {
        margin-top: 1px;
        margin-bottom: 14px;
        min-height: 300px;
    }

    div#gl_7 {
        margin-bottom: 12px;
    }

    h1#gl_48 {
        padding-left: 12px;
        font-size: 47px;
        line-height: 44px;
    }

    span#gl_51 {
        font-size: 21px;
    }

    section#gl_16 {
        margin-top: 14px;
        min-height: 1190px;
    }

    div#gl_9 {
        margin-bottom: 4px;
        min-height: 260px;
    }

    div#gl_20 {
        margin-top: 14px;
        margin-bottom: 0px;
        min-height: 33px;
    }

    div#gl_21 {
        margin-top: 0px;
        min-height: 204px;
        margin-bottom: 4px;
    }

    div#gl_22 {
        margin-top: 22px;
        margin-bottom: 0px;
    }

    h1#gl_59 {
        font-size: 37px;
    }

    div#gl_23 {
        width: 83.125%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h2#gl_61 {
        font-size: 25px;
    }

    div#gl_3 {
        margin-bottom: 9px;
        min-height: 260px;
    }

    div#gl_24 {
        margin-top: 14px;
        margin-bottom: 0px;
        min-height: 33px;
    }

    div#gl_25 {
        margin-top: 0px;
        min-height: 204px;
        margin-bottom: 9px;
    }

    div#gl_26 {
        margin-top: 22px;
        margin-bottom: 0px;
    }

    h1#gl_68 {
        font-size: 37px;
    }

    div#gl_27 {
        width: 83.125%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h2#gl_70 {
        font-size: 25px;
        line-height: 27px;
    }

    div#gl_10 {
        margin-bottom: 4px;
        min-height: 260px;
    }

    div#gl_28 {
        margin-top: 14px;
        margin-bottom: 0px;
        min-height: 33px;
    }

    div#gl_29 {
        margin-top: 0px;
        min-height: 204px;
        margin-bottom: 4px;
    }

    div#gl_30 {
        margin-top: 22px;
        margin-bottom: 0px;
    }

    h1#gl_77 {
        font-size: 37px;
    }

    div#gl_31 {
        width: 83.125%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h2#gl_79 {
        font-size: 25px;
    }

    div#gl_32 {
        margin-left: 0px;
        margin-top: 16px;
    }

    h4#gl_82 {
        padding-left: 0px;
        margin-left: 0px;
        line-height: 32px;
        font-size: 26px;
    }

    div#gl_33 {
        margin-bottom: 23px;
    }

    section#gl_2 {
        margin-top: 24px;
    }

    p#gl_92 {
        text-align: center;
    }

    img#gl_4 {
        width: 40.3125%;
        margin-bottom: 29px;
    }
}